<h4>Simple Form Wizard <small>- add class <strong>form-wizard</strong> to the form</small></h4>
<hr />
<br />

<form id="rootwizard" method="post" action="" class="form-horizontal form-wizard">

  <div class="steps-progress">
    <div class="progress-indicator"></div>
  </div>

  <ul>
    <li class="active">
      <a href="#tab1" data-toggle="tab"><span>1</span>First Car</a>
    </li>
    <li>
      <a href="#tab2" data-toggle="tab"><span>2</span>Second Car</a>
    </li>
    <li>
      <a href="#tab3" data-toggle="tab"><span>3</span>Third Car</a>
    </li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="tab1">1</div>
    <div class="tab-pane" id="tab2">2</div>
    <div class="tab-pane" id="tab3">3</div>

  </div>
</form>
