<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Neon Admin Panel" />
    <meta name="author" content="" />

    <title>Neon | About</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="/css/promo.css">

    <script src="/js/jquery-1.11.0.min.js"></script>
    <script>$.noConflict();</script>

    <!--[if lt IE 9]><script src="/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>

<div class="wrap">

    <!-- Logo and Navigation -->
    <div class="site-header-container container">

        <div class="row">

            <div class="col-md-12">

                <header class="site-header">

                    <section class="site-logo">

                        <a href="/">
                            <img src="/images/logo@2x.png" width="120" />
                        </a>

                    </section>
                    <nav class="site-nav">

                        <ul class="main-menu hidden-xs" id="main-menu">
                            <li class="active">
                                <a href="/about">
                                    <span><%= __('About Services') %></span>
                                </a>
                            </li>
                            <li>
                                <div class="callout-button">
                                    <a href="/login" class="btn btn-secondary"><%= __('Sing In') %></a>
                                </div>
                            </li>
                            <li>
                                <div class="callout-button">
                                    <a href="/register" class="btn btn-primary"><%= __('Sing Up') %></a>
                                </div>
                            </li>
                        </ul>


                        <div class="visible-xs">

                            <a href="#" class="menu-trigger">
                                <i class="entypo-menu"></i>
                            </a>

                        </div>
                    </nav>

                </header>

            </div>

        </div>

    </div>
    <!-- Breadcrumb -->
    <section class="breadcrumb">

        <div class="container">

            <div class="row">

                <div class="col-sm-12">

                    <h1><%= __('About Services') %></h1>

                </div>

            </div>

        </div>

    </section>


    <!-- About Us Text -->
    <section class="content-section">

        <div class="container">

            <div class="row">

                <div class="col-sm-7">

                    <h3>The Company</h3>

                    <br />

                    <p>In entirely be to at settling felicity. Fruit two match men you seven share. Needed as or is enough points. Miles at smart ﻿no marry whole linen mr. Income joy nor can wisdom summer. Extremely depending he gentleman improving intention rapturous as.</p>

                    <p>Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an. She projection advantages resolution son indulgence. Part sure on no long life am at ever. In songs above he as drawn to. Gay was outlived peculiar rendered led six.</p>

                    <p>In entirely be to at settling felicity. Fruit two match men you seven share. Needed as or is enough points. Miles at smart ﻿no marry whole linen mr. Income joy nor can wisdom summer. Extremely depending he gentleman improving intention rapturous as.  </p>

                </div>

                <div class="col-sm-5">

                    <a href="#">
                        <img src="/images/about-img-1.png" class="img-rounded" />
                    </a>

                </div>

            </div>

        </div>

    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Skills</h3>
                <br />
            </div>
        </div>
    </div>

    <!-- Skills and Info Section -->
    <section class="content-section bg-gray">

        <div class="container">

            <div class="row">

                <div class="col-md-6">

                    <h5>Web</h5>

                    <div class="progress progress-rounded">
                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 78%">
                        </div>
                    </div>


                    <h5>Photography</h5>

                    <div class="progress progress-rounded">
                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 52%">
                        </div>
                    </div>


                    <h5>Branding</h5>

                    <div class="progress progress-rounded">
                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 35%">
                        </div>
                    </div>

                </div>

                <div class="col-sm-6">
                    <h5>&nbsp;</h5>

                    <p>In entirely be to at settling felicity. Fruit two match men you seven share. Needed as or is enough points. Miles at smart ﻿no marry whole linen mr. Income joy nor can wisdom summer. Extremely depending he gentleman improving intention rapturous as.</p>

                    <p>Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an.</p>
                </div>

            </div>

        </div>

    </section>


    <!-- Members -->
    <section class="content-section">

        <div class="container">

            <div class="row">

                <div class="col-sm-4">

                    <div class="staff-member">

                        <a class="image" href="#">
                            <img src="/images/staff-member-1.png" class="img-circle" />
                        </a>

                        <h4>
                            <a href="#">John Doe</a>
                            <small>CEO / Chief Executive Office</small>
                        </h4>

                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>

                        <ul class="social-networks">
                            <li>
                                <a href="#">
                                    <i class="entypo-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="entypo-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="entypo-facebook"></i>
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="staff-member">

                        <a class="image" href="#">
                            <img src="/images/staff-member-1.png" class="img-circle" />
                        </a>

                        <h4>
                            <a href="#">Mia Blunt</a>
                            <small>Secretary</small>
                        </h4>

                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>

                        <ul class="social-networks">
                            <li>
                                <a href="#">
                                    <i class="entypo-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="entypo-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="entypo-facebook"></i>
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="staff-member">

                        <a class="image" href="#">
                            <img src="/images/staff-member-1.png" class="img-circle" />
                        </a>

                        <h4>
                            <a href="#">Bob Ashton</a>
                            <small>Creative Director</small>
                        </h4>

                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>

                        <ul class="social-networks">
                            <li>
                                <a href="#">
                                    <i class="entypo-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="entypo-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="entypo-facebook"></i>
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </section>
    <!-- Footer Widgets -->
    <section class="footer-widgets">

        <div class="container">

            <div class="row">

                <div class="col-sm-6">

                    <a href="#">
                        <img src="/images/logo@2x.png" width="100" />
                    </a>

                    <p>
                        Vivamus imperdiet felis consectetur onec eget orci adipiscing nunc. <br />
                        Pellentesque fermentum, ante ac interdum ullamcorper.
                    </p>

                </div>

                <div class="col-sm-3">

                    <h5>Address</h5>

                    <p>
                        Loop, Inc. <br />
                        795 Park Ave, Suite 120 <br />
                        San Francisco, CA 94107
                    </p>

                </div>

                <div class="col-sm-3">

                    <h5>Contact</h5>

                    <p>
                        Phone: +1 (52) 2215-251 <br />
                        Fax: +1 (22) 5138-219 <br />
                        info@laborator.al
                    </p>

                </div>

            </div>

        </div>

    </section>

    <!-- Site Footer -->
    <footer class="site-footer">

        <div class="container">

            <div class="row">

                <div class="col-sm-6">
                    Copyright &copy; Neon - All Rights Reserved.
                </div>

                <div class="col-sm-6">

                    <ul class="social-networks text-right">
                        <li>
                            <a href="#">
                                <i class="entypo-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="entypo-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="entypo-facebook"></i>
                            </a>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

    </footer>
</div>


<!-- Bottom scripts (common) -->
<script src="/js/gsap/main-gsap.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/joinable.js"></script>
<script src="/js/resizeable.js"></script>


<!-- JavaScripts initializations and stuff -->
<script src="/js/neon-custom.js"></script>

</body>
</html>