/**
 *
 * Apply Here your Custom CSS
 *
*/


/***
**** Profile | User
***/
.form-profile-save{
  height: 55px;
  position: absolute;
  right: 0;
  top: 40%;
  padding-right: 0;
}
.form-profile-save .btn{
  height: 100%;
  width: 100%;
}
.form-profile-save .entypo-shareable:before {
  margin-top: 16px;
}
#imgUser{
  cursor: pointer;
}
#save_profile{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#save_profile.btn-default .entypo-shareable{
  display: block;
}
#save_profile.btn-success .entypo-check{
  display: block;
  padding: 20px 5px 0px 5px;
}
#save_profile.btn-default .entypo-check{
  display: none;
}
#save_profile.btn-success .entypo-shareable{
  display: none;
}





/***
**** Croping Image
***/

.cropit-image-preview-container{
  left: 50%;
  margin: 15px -75px;
}
.cropit-image-preview {
  background-color: #f8f8f8;
  background-size: cover;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 7px;
  width: 150px;
  height: 150px;
  cursor: move;
}

.cropit-image-background {
  opacity: .2;
  cursor: auto;
}

.image-size-label {
  margin-top: 10px;
}

input {
  display: block;
}

.export {
  margin-top: 10px;
}
#cropit-image-input{
  display: none;
}
#image-cropper .slider{
  width: 200px;
  left: 50%;
  margin: 0 -100px;
}



/***
**** Modal
***/
.modal{
  overflow-x: hidden;
}
